body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: lightblue;
}
#color-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
#text{
    margin-bottom: 20px;
}
#current-color {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
#color-input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightcyan;
}
.btn{
    border: 2px solid lightcoral;
    margin: 3px;
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
}